.contact {
  text-underline-offset: 3px;
  background: linear-gradient(
    to right,
    rgba(100, 200, 200, 1),
    rgba(100, 200, 200, 1)
  ) !important;
  background-size: 100% 0.1em, 0 0.1em !important;
  background-position: 100% 100%, 0 100% !important;
  background-repeat: no-repeat !important;
}

.container-summary {
  color: var(--text-color-4);
  background-image: linear-gradient(to right, #edf0ecdc 40%, #037e9cb9);
}

.container-contactinfo {
  grid-column: span 12;
  color: var(--text-color-4);
  margin: 0 80px;
  padding: var(--container-content-padding-3);

  .contact-method {
    display: grid;
    height: max-content;
    grid-template-columns: repeat(2, minmax(100px, 500px));
    grid-gap: 50px;

    .card {
      white-space: nowrap;
      box-shadow: var(--box-shadow-container);
      border-radius: var(--border-radius-card);
      padding: var(--card-content-padding-2);
    }

    .contact-card {
      .card-title-3 {
        font-weight: 500;
        margin-bottom: 150px;
      }

      .card-body {
        margin-left:40px;

        .card-body-def-1 {
          margin-bottom: 25px;

          .location {
            font-weight: 600;
            display: flex;
            justify-content: flex-start;
            gap: 15px;
          }
        }

        .card-body-def-2 {
          margin-bottom: 25px;

          .contact-phone {
            font-weight: 600;
            display: flex;
            justify-content: flex-start;
            gap: 15px;
          }
        }

        .card-body-def-3 {
          margin-bottom: 25px;

          .contact-email {
            font-weight: 600;
            display: flex;
            justify-content: flex-start;
            gap: 15px;
          }
        }

        p {
          font-size: 1em;
        }
      }
    }
  }
}
