.contact {
  text-underline-offset: 3px;
  background: linear-gradient(
    to right,
    rgba(100, 200, 200, 1),
    rgba(100, 200, 200, 1)
  ) !important;
  background-size: 100% 0.1em, 0 0.1em !important;
  background-position: 100% 100%, 0 100% !important;
  background-repeat: no-repeat !important;
}
