.form-header-container {
  grid-column: span 12;
  display: flex;
  justify-content: center;
  text-align: center;
  height: max-content;

  .form-header {
    font-weight: 600;
  }
}
.contact-form-card {
  background-color: var(--background-color-3);
  box-shadow: var(--box-shadow-container);
  border-radius: var(--border-radius-card);
  padding: var(--card-content-padding-2);
}

.contact-form {
  grid-column: span 12;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(12, minmax(10px, 30px));
  grid-template-rows: repeat(6, max-content);
  grid-column-gap: 10px;
  height: max-content;
}

.form-control {
  margin-bottom: 15px;
  border-radius: 5px;
  border-width: 0.5px;
}

.col-form-6 {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
}

.col-form-12 {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
}

.col-form-6 #validationFirstName,
#validationLastName {
  display: flex;
}

.col-form-12 #validationEmailAddress,
#validationEmailSubject,
#validationPhone {
  display: flex;
}

.col-form-12 #validationMessage {
  display: flex;
}

.col-form-12 [class="btn"] {
  margin-top: 15px;
}

.col-form-12 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .btn {
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 1px solid var(--background-color-8);
    padding: 10px 15px;
    border-radius: 8px;
    color: var(--text-color-3);
    background-color: var(--background-color-8);
  }
}

textarea {
  resize: none;
  padding: 10px;
}

input {
  padding: 8px;
}

@media screen and (max-width: 480px) {
  .col-form-6 {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
  }
}
