.home {
  text-decoration: underline !important;
}

.container-summary {
  grid-column: span 12;
  display: grid;
  grid-template-columns: minmax(320px, 802px) 1fr;
  color: var(--text-color-3);
  padding: var(--container-content-padding-1);
  box-shadow: 0 2px 6px 0 rgba(0 0, 0, 0.32), inset 0 -1px 0 0 #9dafd3;
  background-image: linear-gradient(
      to left,
      #c9c9c900 30%,
      rgba(0, 0, 0, 0.993) 70%
    ),
    url("../file/summary-background-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .summary {
    line-height: 25px;
    max-width: 600px;
    min-width: 1px;
    margin: auto;

    .paragraph {
      font-size: 1rem;
      margin: 15px;
    }
  }
}

.container-skills {
  grid-column: span 12;
  display: block;
  padding: var(--container-content-padding-2);
  color: var(--text-color-1);
  background-color: var(--background-color-3);
  box-shadow: 0 2px 6px 0 rgba(0 0, 0, 0.32), inset 0 -1px 0 0 #9dafd3;

  .skills {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 200px));
    /* grid-template-columns: repeat(5, 1fr); */
    grid-gap: 50px;

    .skill {
      display: block;

      .skill-header > h3 {
        display: flex;
        justify-content: flex-start;
        font-size: 1.25em;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .skill-body > ul {
        margin-top: 0;
        padding-left: 0;
      }
    }
  }
}

.container-experience {
  grid-column: span 12;
  display: block;
  padding: var(--container-content-padding-2);
  color: var(--text-color-1);
  box-shadow: 0 2px 6px 0 rgba(0 0, 0, 0.32), inset 0 -1px 0 0 #9dafd3;
  background-color: var(--background-color-2);

  .card-container {
    display: grid;
    grid-template-columns: minmax(100px, 700px) 50px minmax(100px, 700px);
    grid-gap: 30px;
  }

  .separation-line {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 15px;

    hr {
      min-height: 100%;
      width: 0;
    }
  }

  .card {
    display: block;
    padding: 10px 10px;

    .card-body {
      padding-top: 3px;
    }
  }

  .paragraph {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .container-summary {
    padding-left: 55px !important;
    padding-right: 55px !important;
  }
}

@media screen and (max-width: 768px) {
  .container-summary {
    display: flex !important;
    justify-content: center;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .container-skills {
    .skills {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 250px)) !important;
      grid-gap: 20px !important;
    }
  }

  .container-experience {
    .card-container {
      grid-template-columns: minmax(100px, 700px);
    }

    .separation-line {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px 0 15px;

      hr {
        min-width: 80%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container-skills {
    .skills {
      grid-template-columns: repeat(1, minmax(100px, 250px)) !important;
    }
  }
}
