.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(50px, 188.66px));
  grid-row-gap: 7px;
  grid-template-areas:
    "aa ab ac ad ae af ag ah ai aj ak al"
    "ba bb bc bd be bf bg bh bi bj bk bl"
    "ca cb cc cd ce cf cg ch ci cj ck cl"
    "da db dc dd de df dg dh di dj dk dl";
    margin: 8px;

  .container-header {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px 15px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #ccccce;
    height: min-content;
    align-items: center;
    color: var(--text-color-1);

    .header {
      display: inline-flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      gap: 15px;

      .name {
        font-size: 1.3em;
        margin: 0;
      }

      .title {
        font-size: 1em;
        padding-top: 5px;
        margin: 0;
      }
    }

    .navigation {
      display: flex;
      align-items: center;

      .navigation-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 15px;

        .navigation-item {
          text-decoration: none;
          color: var(--text-color-1);
        }
      }
    }
    .download-resume-button {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .button {
        text-decoration: none;
        border: 1px solid rgb(71, 70, 70);
        padding: 5px 10px;
        border-radius: 3px;
        color: var(--text-color-2);
      }
    }
  }

  .container-summary {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--text-color-3);
    padding: var(--container-content-padding-1);
    box-shadow: 0 2px 6px 0 rgba(0 0, 0, 0.32), inset 0 -1px 0 0 #9dafd3;
    background-image: linear-gradient(
        to left,
        #c9c9c900 30%,
        rgba(17, 2, 2, 0.993) 70%
      ),
      url("../file/summary-background-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .summary {
      line-height: 25px;
      width: 600px;
      padding-left: 100px;
    }
  }

  .container-experience {
    grid-column: span 12;
    display: block;
    padding: var(--container-content-padding-2);
    color: var(--text-color-1);
    box-shadow: 0 2px 6px 0 rgba(0 0, 0, 0.32), inset 0 -1px 0 0 #9dafd3;
    background-color: var(--background-color-2);

    .experience-card-container {
      display: flex;
    }
  }

  .container-skills {
    grid-column: span 12;
    display: block;
    padding: var(--container-content-padding-2);
    color: var(--text-color-1);
    background-color: var(--background-color-3);
    box-shadow: 0 2px 6px 0 rgba(0 0, 0, 0.32), inset 0 -1px 0 0 #9dafd3;

    .skills {
      display: grid;
      grid-template-columns: repeat(4, .2fr);
      grid-gap: 50px;

      .skill {
        display: block;
        margin: 0 auto;

        .skill-header > h3 {
          display: flex;
          justify-content: flex-start;
          font-weight: 500;
          margin-bottom: 5px;
        }

        .skill-body > ul {
          margin-top: 0;
          padding-left: 0;
        }
      }
    }
  }
}

.card {
  padding: 20px 120px;
  display: block;

  .card-title {
    font-size: 1.5em;
  }

  .card-header {
    padding-top: 3px;
  }

  .card-body {
    padding-top: 3px;
  }
}

.title {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.homepage {
  grid-column: span 12;
}
