.home {
  text-underline-offset: 3px;
  background: linear-gradient(
    to right,
    rgba(100, 200, 200, 1),
    rgba(100, 200, 200, 1)
  ) !important;
  background-size: 100% 0.1em, 0 0.1em !important;
  background-position: 100% 100%, 0 100% !important;
  background-repeat: no-repeat !important;
}

.container-summary {
  grid-column: span 12;
  height: max-content;
  color: var(--text-color-3);
  padding: var(--container-content-padding-1);
  background-image: linear-gradient(
    to left,
    #5c595971,
    var(--background-color-9) 70%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .summary {
    line-height: 25px;
    max-width: 600px;
    min-width: 1px;

    .paragraph {
      font-size: 1rem;
      margin: 15px;
    }
  }
}

.container-skills {
  grid-column: span 12;
  display: block;
  padding: var(--container-content-padding-2);
  color: var(--text-color-1);
  background-color: var(--background-color-3);
  box-shadow: var(--box-shadow-container);
  border-radius: var(--border-radius-container);

  .skills {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-gap: 5%;

    .card {
      white-space: nowrap;

      .card-title-2 {
        display: flex;
        justify-content: flex-start;
        font-size: 1.25em;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .card-body > ul {
        margin-top: 0;
        padding-left: 0;
      }
    }
  }
}

.container-experience {
  grid-column: span 12;
  display: block;
  padding: var(--container-content-padding-2);
  color: var(--text-color-1);
  box-shadow: var(--box-shadow-container);
  background-color: var(--background-color-2);
  border-radius: var(--border-radius-container);

  .card-container {
    margin: auto;
    max-width: 1150px;
    display: grid;
    grid-template-columns: minmax(100px, 700px) 50px minmax(100px, 700px);
    grid-gap: 20px;
  }

  .separation-line {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 15px;

    hr {
      min-height: 100%;
      width: 0;
      border: none;
      border-left: 1px solid var(--text-color-2);
    }
  }

  .card {
    display: block;
    padding: 10px;

    .card-title {
      margin-bottom: 20px;
    }

    .card-body {
      padding-top: 3px;
    }
  }
}

@media screen and (max-width: 1190px) {
  .container-skills {
    .skills {
      grid-template-columns: repeat(4, max-content) !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container-summary {
    padding-left: 55px !important;
    padding-right: 55px !important;
  }
}

@media screen and (max-width: 880px) {
  .container-summary {
    background-color: var(--background-color-9);
  }

  .container-skills {
    .skills {
      grid-template-columns: repeat(3, max-content) !important;
      grid-gap: 50px;
    }
  }

  .container-experience {
    .card-container {
      grid-template-columns: minmax(100px, 700px);
    }

    .separation-line {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px 0 15px;

      hr {
        min-width: 80%;
        border: none;
        border-top: 1px solid var(--text-color-2);
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .container-summary {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .container-skills {
    .skills {
      grid-template-columns: repeat(2, max-content) !important;
      grid-gap: 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  .container-skills {
    .skills {
      grid-template-columns: repeat(1, max-content) !important;
      grid-gap: 50px;

      .card-title-2 {
        justify-content: center !important;
      }

      .card-body {
        display: flex;
        text-align: center;
      }
    }
  }
}
